.cont{
    .top{
        color:#ff9302;
    }
    .wife{
        display:inline-block;
        width:320px;
        height:200px;
        background-image:url("../img/wife.jpg");
        background-size:contain;
    }
    .bottom{
        color:#f00000;
    }
}